<div class="row m-2">
  <span class="col-7 h2 bg-light text-center">
    <% if current_user.is_coach == false %>
      <%= User.find(@matching.coach_id).name %>コーチへのコーチング申請詳細
    <% else %>
      <%= User.find(@matching.user_id).name %>さんからのコーチング申請詳細
    <% end %></td>
  </span>
  <% if @matching.approval == "approved" %>
    <span class="col-4 h3 text-center bg-success">申請<%= @matching.approval_i18n %></span>
  <% elsif @matching.approval == "impossible" %>
    <span class="col-4 h3 text-center bg-danger">申請<%= @matching.approval_i18n %></span>
  <% elsif @matching.approval == "checking" %>
    <span class="col-4 h3 text-center bg-light">申請<%= @matching.approval_i18n %></span>
  <% end %>
</div>

<div class="row mt-4">
  <table class="table col-12">
    <tbody>
      <tr class="row"><th class="b col-3">目標</th><td class="col-8"><%= @matching.goal %></td></tr>

      <tr class="row"><th class="b col-3">どのように教えてもらいたいか</th><td class="col-8"><%= @matching.how %></td></tr>

      <tr class="row"><th class="b col-3">何か一言</th><td class="col-8"><%= @matching.comment %></td></tr>

    </tbody>
  </table>
</div>

<% if current_user.is_coach == false %>

  <% if @matching.approval == "approved" %>
    <span class="h3 bg-success">コーチからの挨拶</span>
    <h3 class="m-5"><%= @matching.reply %></h3>
    <h4 class="m-5">申請が承認されたため、動画送信をを<%= User.find(@matching.coach_id).name %>コーチにできます。</h4>
  <% elsif @matching.approval == "impossible" %>
    <span class="h3 bg-danger">コーチからの不可の理由</span>
    <h3 class="m-5"><%= @matching.reply %></h3>
  <% end %>

<% elsif current_user.is_coach == true && @matching.approval == "checking" %>
  <span class="h3">申請を受理する場合は挨拶を、不可の場合は理由を下に入力してください。</span>
  <%= form_with model:@matching, url:matching_path(method: :patch), local:true do |f| %>
    <%= f.text_area :reply, size: "100x7" %><br>

    <%= f.label '承認',class: "h4 bg-warning mr-3" %>
    <%= f.radio_button :approval, Matching.approvals.key(1) %>
    <%= f.label :approval, {value: Matching.approvals_i18n[:approved], style: "display: inline-block;"} %>
    <%= f.radio_button :approval, Matching.approvals.key(2) %>
    <%= f.label :approval, {value: Matching.approvals_i18n[:impossible], style: "display: inline-block;"} %>

    <%= f.submit "返信する",class: "btn btn-primary ml-4 btn-lg" %>
  <% end %>

<% elsif current_user.is_coach == true && @matching.approval != "checking" %>
  <span class="h3 bg-warning">
    <% if @matching.approval == "approved" %>
      あなたの挨拶
    <% elsif @matching.approval == "impossible" %>
      あなたの承認不可の理由
    <% end %>
  </span>

  <h3 class="m-5"><%= @matching.reply %></h3>

<% end %>



