<% if @user.is_coach == false %>
  <div class="row m-3">
    <span class="h2 bg-light m-3"><%= @user.name %>さんの会員詳細</span>
  </div>

  <div class="row">
    <div class="col-6">
      <%= attachment_image_tag(@user, :image , :fill, 400, 400, format: 'jpeg') %>
    </div>
    <div class="col-6">
      <table class="table">
        <tbody>
          <tr><th class="table-info">名前</th><td><%= @user.name %></td></tr>
          <tr><th class="table-info">性別</th><td><%= @user.gender_i18n %></td></tr>
          <tr><th class="table-info">年齢</th><td><%= @user.age %>歳</td></tr>
          <tr><th class="table-info">スポーツ</th><td><%= @user.sport.name %></td></tr>
          <tr><th class="table-info">自己紹介</th><td><%= @user.introduction %></td></tr>
          <tr><th class="table-info">ユーザーステータス</th>
                <td>
                  <% if @user.is_deleted == true %>
                    <span class="text-secondary">退会</span>
                  <% elsif @user.is_deleted == false %>
                    <span class="text-success">有効</span>
                  <% end %>
                </td></tr>
        </tbody>
      </table>
    </div>
  </div>

<% else %>

  <div class="row m-3">
    <span class="h2 bg-light m-3 col-4 text-center"><%= @user.name %>コーチの詳細</span>
    <% if current_user.is_coach == false %>
      <%= link_to 'コーチングを申請', new_matching_path(coach_id: @user.id), class:"btn btn-warning btn-lg text-center ml-5" %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-6">
      <%= attachment_image_tag(@user, :image , :fill, 400, 400, format: 'jpeg') %>
    </div>
    <div class="col-6">
      <table class="table">
        <tbody>
          <tr><th class="table-info">名前</th><td><%= @user.name %></td></tr>
          <tr><th class="table-info">メールアドレス</th><td><%= @user.email %></td></tr>
          <tr><th class="table-info">性別</th><td><%= @user.gender_i18n %></td></tr>
          <tr><th class="table-info">年齢</th><td><%= @user.age %>歳</td></tr>
          <tr><th class="table-info">スポーツ</th><td><%= @user.sport.name %></td></tr>
          <tr><th class="table-info">自己紹介</th><td><%= @user.introduction %></td></tr>
          <tr><th class="table-info">ユーザーステータス</th>
                <td>
                  <% if @user.is_deleted == true %>
                    <span class="text-secondary">退会</span>
                  <% elsif @user.is_deleted == false %>
                    <span class="text-success">有効</span>
                  <% end %>
                </td></tr>
        </tbody>
      </table>
    </div>
  </div>



  <div class="row mt-3">
    <h3 class="col-12 text-center">受講者による評価</h3>
    <% if @coach_evaluations.present? %>
      <% @coach_evaluations.each do |c| %>
        <table class="table col-6">
          <tbody>
            <tr>
              <td><%= c.title %></td>
              <td class="coach-evaluation" data-score="<%= c.evaluation %>"></td>
              <td><%= c.reason %></td>
            </tr>
          </tbody>
        </table>

        <table class="table col-6">
          <tbody>
            <tr><th class="table-info">性別</th><td><%= c.matching.user.gender_i18n %></td></tr>
            <tr><th class="table-info">年齢</th><td><%= c.matching.user.age %>歳</td></tr>
            <tr><th class="table-info">自己紹介</th><td><%= c.matching.user.introduction %></td></tr>
          </tbody>
        </table>
      <% end %>
    <% else %>
      <h3>評価はまだありません</h3>
    <% end %>
    <script>
      $('.coach-evaluation').raty({
        readOnly: true,
        score: function() {
          return $(this).attr('data-score');
        },
        path: '/assets/',
        half: true,
      });
    </script>
  </div>

  <% if Matching.find_by(user_id: current_user.id, coach_id: @user.id).coach_evaluation.nil? %>
    <% else %>
    <%= form_with(model: @coach_evaluation, method: :post, local: true) do |form| %>

      <div id="evaluate_stars">
        <%= form.label :evaluation,'評価' %>
      </div>
      <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>
      <div>
        <%= form.label :reason %>
        <%= form.text_area :reason,size:"100x10" %>
      </div>
      <%= form.hidden_field :matching_id, :value => Matching.find_by(user_id: current_user.id, coach_id: @user.id)&.id %>

      <%= form.submit '投稿する', class: "btn btn-primary" %>
    <% end %>
    <script>
      $('#evaluate_stars').raty({
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'coach_evaluation[evaluation]',
        half: true,
      });
    </script>
  <% end %>

<% end %>

