<!DOCTYPE html>
<html>
  <head>
    <title>Movie-Coach</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm bg-light">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/">Movie-Coach</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <% if user_signed_in? && current_user.is_coach == false %>
              <strong><%= current_user.name %></strong>.
              <ul class="navbar-nav ml-auto mt-3">
                <li class="nav-item">
                  <%= link_to 'スポーツ一覧', sports_index_path, class: 'nav-link text-dark btn btn-outline-secondary ml-2 mt-3' %>
                </li>
                <li class="nav-item">
                  <%= link_to '動画送信', new_movie_path, class: 'nav-link text-dark btn btn-outline-secondary ml-2 mt-3' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'コーチング一覧', movies_path, class: 'nav-link text-dark btn btn-outline-secondary ml-2 mt-3' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'プロフィール変更', edit_user_registration_path, class: 'nav-link text-dark btn btn-outline-secondary ml-2 mt-3' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", sign_out_path, class: 'nav-link text-dark btn btn-outline-secondary ml-2 mt-3' %>
                </li>
                <li class="nav-item">
                  <%= link_to attachment_image_tag(current_user, :image , :fill, 75, 75, format: 'jpeg'), user_my_page_path, class: 'nav-link ml-2' %>
                </li>
              </ul>


            <% elsif user_signed_in? && current_user.is_coach == true %>
              <strong><%= current_user.name %></strong>.
            <ul class="navbar-nav ml-auto mt-3">
              <li class="nav-item">
                <%= link_to 'スポーツ一覧', sports_index_path, class: 'nav-link text-dark btn btn-outline-secondary ml-2 mt-3' %>
              </li>
              <li class="nav-item">
                <%= link_to '会員一覧', users_path, class: 'nav-link text-dark btn btn-outline-secondary ml-2 mt-3' %>
              </li>
              <li class="nav-item">
                <%= link_to 'コーチング履歴', movies_path, class: 'nav-link text-dark btn btn-outline-secondary ml-2 mt-3' %>
              </li>
              <li class="nav-item">
                <%= link_to 'プロフィール変更', edit_user_registration_path, class: 'nav-link text-dark btn btn-outline-secondary ml-2 mt-3' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", sign_out_path, class: 'nav-link text-dark btn btn-outline-secondary ml-2 mt-3' %>
              </li>
              <li class="nav-item">
                <%= link_to attachment_image_tag(current_user, :image , :fill, 75, 75, format: 'jpeg'), user_my_page_path, class: 'nav-link ml-3' %>
              </li>
            </ul>
            <% else %>
            <ul class="navbar-nav ml-auto mt-3">
              <li class="nav-item">
                <%= link_to 'サインイン', new_user_registration_path, class: 'nav-link text-dark btn btn-outline-secondary ml-2' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark btn btn-outline-secondary ml-2' %>
              </li>
            </ul>
            <% end %>
          </div>
        </div>
      </nav>
    </header>

    <main class="mb-auto">
      <div class ="container">
        <%= yield %>
      </div>
    </main>

  </body>
</html>
